*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mx-auto {
    margin: 0 auto;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.italic {
    font-style: italic;
}

.ex-bold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.fs-1 {
    font-size: 20px;
}

.fs-2 {
    font-size: 24px;
}

.fs-3 {
    font-size: 64px;
}

.fs-4 {
    font-size: 80px;
}

.text-center {
    text-align: center;
}

.lh-1 {
    line-height: 1.3125;
}

.lh-2 {
    line-height: 1.325;
}

.lh-3 {
    line-height: 1.333;
}

.lh-4 {
    line-height: 1.375;
}

.lh-5 {
    line-height: 1.4;
}

.lh-6 {
    line-height: 1.5;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-44 {
    margin-bottom: 44px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-52 {
    margin-bottom: 52px;
}

.mb-56 {
    margin-bottom: 56px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-68 {
    margin-bottom: 68px;
}

.mb-144 {
    margin-bottom: 144px;
}

.mt-56 {
    margin-top: 56px;
}

.mx-8 {
    margin: 0 8px;
}

.mr-16 {
    margin-right: 16px;
}